@{
    ViewData["Title"] = "Home Page";
}
@using MoneyExchangeApp.Models
@model Esr
<div>
    <input type="number" name="name" value="" id="fromAmount"/>
    <select id="fromCurency">
        <option>USD</option>
        <option>EUR</option>
        <option>GBP</option>
        <option>CHF</option>
    </select>
    =
    <input type="text" name="name" value="" id="toAmount" />
    <select id="toCurency">
        <option>USD</option>
        <option>EUR</option>
        <option>GBP</option>
        <option>CHF</option>
    </select>

    <input type="button" name="name" value="Push" onclick="getAmount()" />
</div>
<div>
    @foreach (var item in Model.Rates.ToString().Split('#'))
    {
        <p>@item</p>
    }


</div>

<script src="~/js/Exchange.js"></script>